In [1]:
import pandas as pd 
import numpy as np
import missingno as msno
%matplotlib inline
file = '/home/vagrant/vivienda.csv'

In [3]:
df= pd.read_csv(file)
df.head()

,folioviv,tipo_viv,condominio,elevador,mat_pared,mat_techos,mat_pisos,ais_techos,ais_pared,ais_ventan,...,tv_paga,auto_pick,tot_hog,ubica_geo,ageb,tam_loc,est_socio,est_dis,upm,factor
0,100008010,1,,,8,9,3,2,2,2,...,2,1,1,10010000,000-0,1,4,8,1,221
1,100008034,1,,,8,9,3,1,2,2,...,1,1,1,10010000,000-0,1,4,8,1,221
2,100008077,1,,,8,9,3,9,9,2,...,1,1,1,10010000,000-0,1,4,8,1,221
3,100025016,1,,,8,9,3,1,2,2,...,2,1,1,10010000,000-0,1,3,7,2,194
4,100025022,1,,,8,9,3,2,2,2,...,1,1,1,10010000,000-0,1,3,7,2,194

In [5]:
df.isnull().any()

folioviv      False
tipo_viv      False
condominio    False
elevador      False
mat_pared     False
              ...
tam_loc       False
est_socio     False
est_dis       False
upm           False
factor        False
Length: 110, dtype: bool

In [7]:
df_copy = df.copy()

In [8]:
df_copy.shape

(56680, 110)

In [9]:
df_copy.shape[0]

56680

In [10]:
df_copy.columns

Index(['folioviv', 'tipo_viv', 'condominio', 'elevador', 'mat_pared',
       'mat_techos', 'mat_pisos', 'ais_techos', 'ais_pared', 'ais_ventan',
       ...
       'tv_paga', 'auto_pick', 'tot_hog', 'ubica_geo', 'ageb', 'tam_loc',
       'est_socio', 'est_dis', 'upm', 'factor'],
      dtype='object', length=110)

In [11]:
list(df_copy.columns)

['folioviv',
 'tipo_viv',
 'condominio',
 'elevador',
 'mat_pared',
 'mat_techos',
 'mat_pisos',
 'ais_techos',
 'ais_pared',
 'ais_ventan',
 'ais_otro',
 'antiguedad',
 'cocina',
 'cocina_dor',
 'cuart_dorm',
 'num_cuarto',
 'disp_agua',
 'dotac_agua',
 'excusado',
 'uso_compar',
 'sanit_agua',
 'bano_comp',
 'bano_excus',
 'bano_regad',
 'drenaje',
 'disp_elect',
 'anio_panel',
 'panel_ne',
 'pot_panel',
 'potencia',
 'focos_inca',
 'focos_ahor',
 'combustible',
 'estufa_chi',
 'eli_basura',
 'lavadero',
 'fregadero',
 'regadera',
 'rega_elect',
 'tinaco_azo',
 'cisterna',
 'pileta',
 'calent_sol',
 'calent_gas',
 'medidor_luz',
 'bomba_agua',
 'tanque_gas',
 'aire_acond',
 'calefacc',
 'chimenea',
 'repar_pard',
 'repar_tech',
 'repar_agua',
 'repar_dren',
 'repar_cabl',
 'const_dorm',
 'const_coci',
 'const_bano',
 'const_neg',
 'comun1',
 'comun2',
 'comun3',
 'comun4',
 'comun5',
 'comun6',
 'comun7',
 'comun8',
 'comun9',
 'estaciona',
 'comun10',
 'comun11',
 'comun12',
 'comun13',
 'comun14',
 'comun15',
 'comun16',
 'comun17',
 'tenencia',
 'pago_renta',
 'anio_res',
 'mes_res',
 'familiar',
 'tipo_adqui',
 'financia_1',
 'financia_2',
 'financia_3',
 'financia_4',
 'financia_5',
 'financia_6',
 'financia_7',
 'financia_8',
 'num_dueno1',
 'hog_dueno1',
 'num_dueno2',
 'hog_dueno2',
 'escrituras',
 'computador',
 'tel_fijo',
 'celular',
 'internet',
 'tv_paga',
 'auto_pick',
 'tot_hog',
 'ubica_geo',
 'ageb',
 'tam_loc',
 'est_socio',
 'est_dis',
 'upm',
 'factor']