## PRACTICA1

## Importar paqueterias y cargar la base de datos

In [2]:
import pandas as pd 
import numpy as np
path = '/home/vagrant/fuerocomunmunicipios.csv'

In [7]:
df = pd.read_csv(path, encoding='utf-8',quotechar=None, quoting=3,low_memory=False)
df.head()

,state_code,mun_code,year,month,crime,category,type,subtype,count,population
0,1,1,2011,1,"""DELITOS PATRIMONIALES""","""DELITOS PATRIMONIALES""","""ABUSO DE CONFIANZA""","""ABUSO DE CONFIANZA""",44.0,811483.0
1,1,1,2011,2,"""DELITOS PATRIMONIALES""","""DELITOS PATRIMONIALES""","""ABUSO DE CONFIANZA""","""ABUSO DE CONFIANZA""",43.0,812551.0
2,1,1,2011,3,"""DELITOS PATRIMONIALES""","""DELITOS PATRIMONIALES""","""ABUSO DE CONFIANZA""","""ABUSO DE CONFIANZA""",34.0,813619.0
3,1,1,2011,4,"""DELITOS PATRIMONIALES""","""DELITOS PATRIMONIALES""","""ABUSO DE CONFIANZA""","""ABUSO DE CONFIANZA""",21.0,814686.0
4,1,1,2011,5,"""DELITOS PATRIMONIALES""","""DELITOS PATRIMONIALES""","""ABUSO DE CONFIANZA""","""ABUSO DE CONFIANZA""",35.0,815754.0

In [33]:
df.shape

(184917, 10)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184917 entries, 0 to 184916
Data columns (total 10 columns):
state_code    184917 non-null int64
mun_code      184917 non-null int64
year          184917 non-null int64
month         184917 non-null int64
crime         184917 non-null object
category      184917 non-null object
type          184916 non-null object
subtype       184916 non-null object
count         146058 non-null float64
population    184916 non-null float64
dtypes: float64(2), int64(4), object(4)
memory usage: 14.1+ MB

In [35]:
lista=df.columns.values.tolist()

In [41]:
df[['year','crime']+['count']]

        year                    crime  count
0       2011  "DELITOS PATRIMONIALES"   44.0
1       2011  "DELITOS PATRIMONIALES"   43.0
2       2011  "DELITOS PATRIMONIALES"   34.0
3       2011  "DELITOS PATRIMONIALES"   21.0
4       2011  "DELITOS PATRIMONIALES"   35.0
...      ...                      ...    ...
184912  2013  "DELITOS PATRIMONIALES"    0.0
184913  2013  "DELITOS PATRIMONIALES"    0.0
184914  2013  "DELITOS PATRIMONIALES"    0.0
184915  2013  "DELITOS PATRIMONIALES"    0.0
184916  2014  "DELITOS PATRIMONIALES"    NaN

[184917 rows x 3 columns]